{{define "footer"}}
  <footer class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <a href="https://www.york.ac.uk/about/legal-statements/">disclaimer</a> | <a href="/competitions">competitions</a> | <a href="/myradio/">myradio</a>
      </div>
      <div class="col">
        <p class="m-0 text-right">copyright © 1967-{{.PageContext.CurrentYear}} university radio york. designed by the <a href="mailto:computing@ury.org.uk" title="click to email the computing team.">ury computing team</a></p>
      </div>
    </div>
  </footer>
{{end}}
